

<style>
    #R-logo img {
        width: 40.5%; /* Ajusta el tamaño de la imagen según tus necesidades */
        margin-bottom: -1.25rem;
        margin-inline-start: -1.47rem;
        margin-inline-end: .5rem;
    }

    /* Otros estilos que desees mantener */
</style>

<a id="R-logo" href="{{ partial "relLangPrettyUglyURL.hugo" (dict "to" .Site.Home) }}">
    <img src="/images/favicon.svg" alt="TuAltText" style="width: 120px; height: auto; margin-right: 10px;">
    <!-- Puedes ajustar el alt text según tus necesidades -->
    <span style="font-size: 1.0rem; text-align: center;">Declamo</span> <!-- Ajusta el tamaño de la fuente según tus necesidades -->
</a>
