<a id="R-logo" href="{{ partial "relLangPrettyUglyURL.hugo" (dict "to" .Site.Home) }}" style="display: flex; align-items: center;">
    <img src="/images/favicon.svg" alt="TuAltText" style="width: 100px; height: auto; margin-right: 10px;"> <!-- Ajusta el ancho y el margen según tus necesidades -->
    <!-- Puedes ajustar el alt text según tus necesidades -->
    <span style="font-size: 1.5rem; text-align: center;">Declamo</span> <!-- Ajusta el tamaño de la fuente según tus necesidades -->
</a>


