<!-- layouts/shortcodes/geogebra.html -->

{{ .Inner | safeHTML }}

{{- $chord := .Get "chord" -}}
{{- $fingers := .Get "fingers" -}}

<div class="chord">
  <span class="name">{{ $chord }}</span>
  <span class="fingers">{{ $fingers }}</span>
</div>