<!-- layouts/shortcodes/remark42.html -->

<script>
    var remark_config = {
      host: 'https://neoib.com.ar',
      site_id: 'neoib-remark',
    };
  </script>
  
  <script>
    !function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(["embed"],document);
  </script>
  
  <div id="remark42"></div>
  